.download-page {
}

.radio-group-1 {
  margin: 1rem;
  padding: 1.5rem;
  border: #ccccff 1px solid;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #fffde7;
}

.text-input {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.button-area {
  margin: 2rem 1rem;
  display: flex;
}
.button-area > div {
  margin-right: 1rem;
}

.multiple-select-input {
  margin: 1rem;
}

.single-select {
  margin: 1rem;
  padding: 1.5rem;
  border: #ccccff 1px solid;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #fffde7;
}
.with-label {
  margin: 1rem;
  width: 150px;
}

.multi-select {
  margin: 1rem;
  display: flex;
}

.multi-input {
  margin: 1rem;
  display: flex;
}
.multi-input-textfield {
  margin: 0 1rem 0 0;
  min-width: 230px;
}
.multi-input-textfield p {
  margin: 0.1rem;
}
.multi-input-chips {
  display: flex;
  flex-wrap: wrap;
}
.multi-input-one-chip {
  margin: 0 0.2rem 0.3rem 0;
}

.email-to-verify {
  margin: 1rem;
  padding: 1.5rem;
  border: #ccccff 1px solid;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #fffde7;
}
.email-to-verify-input-textfield {
  margin: 1rem;
}
.email-to-verify-input-textfield p {
  margin: 0.1rem;
}
.email-to-verify-iput-helper-text {
  display: flex;
  flex-direction: column;
}
.email-to-verify-button {
  margin: 0.5rem 1rem;
}
